html{
    font-family: Circular, Helvetica, Sans-serif, Arial Fonts
}

body{
    margin: 0px;
}
.container{
    display: flex;
}

#mapid{
    height: 100vh;
    width: 70%;
}
.ap-name{color: black}

.left_menu{
    overflow-y: scroll;
    max-height: 100vh;
    padding: 0px 20px;
    width: 30%;
    min-width: 350px;
    background-color: darkgrey;
    color: white;
}
::-webkit-scrollbar {
    display: none;
}
#form{
    margin-top: 10px;
}

.submit{
    width: 100%;
    text-align: right;
}

#options, #options-content>.row{
    background-color: #555555;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

#options-content .header{
    color: lightgray;
    font-size: 14px;
}
#options-content label{
    font-size: 12px;
}
#options-content .row{
    padding-top: 10px;
    padding-bottom: 10px;
}



#options{
    height: 30px;
    margin-top: 10px;
}
#options>div{
    display: none;
}

.toggleButton {
    cursor: pointer;
}

#options-content {
    display: none;
}
.flex{
    display: flex !important;
}


