html{
    font-family: Circular, Helvetica, Sans-serif, Arial Fonts
}

body{
    margin: 0px;
}
.container{
    display: flex;
}

#mapid{
    height: 100vh;
    width: 70%;
}
.ap-name{color: black}

.left_menu{
    width: 30%;
    min-width: 350px;
    padding: 20px;
    background-color: darkgrey;
    color: white;
}
#form{
    margin-top: 30px;
}

#options, #options-content>.row{
    background-color: #555555;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

#options .row{
    margin-top: 15px;
    margin-bottom: 15px;
}

#options{
    height: 30px;
}
#options>div{
    display: none;
}

.toggleButton {
    cursor: pointer;
}

#options-content {
    display: none;
}
.flex{
    display: flex !important;
}


