<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maps 2.0</title>
</head>
<body>
    <h1>Bienvenue dans Maps 2.0 !</h1>


    <h2>Indiquez l'itinéraire souhaité</h2>
    <form action="/show" method="post">
        <div>
            <label for="name">Lattitude de départ :</label>
            <input type="number" value="48.8327878" step="0.0000001" min="0" max="50" id="start_lat" name="start_lat">
        </div>
        <div>
            <label for="name">Longitude de départ :</label>
            <input type="number" value="2.3380036" step="0.0000001" min="0" max="50" id="start_long" name="start_long">
        </div>
        <div>
            <label for="name">Lattitude d'arrivée :</label>
            <input type="number" value="48.8450477" step="0.0000001" min="0" max="50" id="end_lat" name="end_lat">
        </div>
        <div>
            <label for="name">Longitude d'arrivée :</label>
            <input type="number" value="2.3419488" step="0.0000001" min="00" max="50" id="end_long" name="end_long">
        </div>

        <div>
            <label for="transport">Choissisez votre moyen de locomotion:</label>
            <select id="transport" name="transport">
                {%for type in data["available_types"]%}
                    <option value="{{type[0]}}">{{type[1]}}</option>
                {%endfor%}
            </select>
        </div>
        <input type="submit" value="Submit">
    </form>

</body>
</html>