<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/itinerary.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
    <meta charset="UTF-8">
    <title>Maps 2.0</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png')}}" />
</head>
<body>
    <div class="container">
        <div class="left_menu">
            <h1>Maps 2.0</h1>
            <input type="search" id="depart" placeholder="Choisissez un point de départ" />
            <input type="search" id="arrivee" placeholder="Choisissez une destination" />
            <form id="form" action="/" method="post">
                <div>
                    <input type="hidden" value="48.8327878" step="0.0000001" min="0" max="50" id="start_lat" name="start_lat">
                </div>
                <div>
                    <input type="hidden" value="2.3380036" step="0.0000001" min="0" max="50" id="start_long" name="start_long">
                </div>
                <div>
                    <input type="hidden" value="48.8450477" step="0.0000001" min="0" max="50" id="end_lat" name="end_lat">
                </div>
                <div>
                    <input type="hidden" value="2.3419488" step="0.0000001" min="00" max="50" id="end_long" name="end_long">
                </div>
                <input type="submit" value="Rechercher">
                <div id="options">
                    <div>Options d'itinéraire</div>
                    <div class="toggleButton">Fermer</div>
                    <div class="toggleButton" style="display: block; margin-left: auto">Options</div>
                </div>
                <div id="options-content">
                    <select name="choice" id="choice">
                        <option value="grade">Notre recommendation</option>
                        <option value="duration">Le plus rapide</option>
                        <option value="distance" >Le plus court</option>
                        <option value="co2">Le moins polluant</option>
                        <option value="calories" >Le moins fatiguant</option>
                        <option value="sport" >Le plus sportif</option>
                    </select>
                    <div class="checkboxes">
                        <div>
                          <input type="checkbox" id="accessible" name="accessible">
                          <label for="accessible">Accessible PMR</label>
                        </div>
                        <div>
                          <input type="checkbox" id="avoid_rain" name="avoid_rain">
                          <label for="avoid_rain">J'ai peur de la pluie</label>
                        </div>
                        <div>
                          <input type="checkbox" id="loaded" name="loaded">
                          <label for="loaded">Je porte une charge lourde</label>
                        </div>
                    </div>
                </div>

            </form>
            <div id="routes"></div>
        </div>
        <div id="mapid"></div>
    </div>
</body>
<script
 src="https://code.jquery.com/jquery-3.4.1.min.js"
 integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
 crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.5"></script>
<script>
    var rain = {{"true" if HasPrecipitation else "false"}}
</script>
<script src = "{{ url_for('static', filename='javascript/index.js') }}"> </script>

</html>