<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
    <meta charset="UTF-8">
    <title>Votre itinéraire</title>
</head>
<body>
    <h1>Hello, voici ton itinéraire</h1>
    {{route}}
    <div id="mapid"></div>
</body>
<script>
    var geojsonFeature = JSON.parse('{{ geojson | tojson | safe}}');
    console.log(geojsonFeature)
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/show.css') }}">
<script src="{{ url_for('static', filename='javascript/map.js') }}"></script>
</html>