<div class="itinerary">
    <div class="main">
        <img class="icon" src="{{ url_for('static', filename='images/'+picture_name) }}" alt="{{picture_name}}">
        <div class="name">{{name}}</div>
        {% for label in labels%}
            <div class="label">
                <img class="label_icon" src="{{ url_for('static', filename='images/'+label['picture']) }}" alt="{{label}}">
                <div class="label_name">{{label["name"]}}</div>
            </div>
        {% endfor %}
        <div class="numbers">
            <div class="duration">{{duration}}</div>
            <div class="distance">{{distance}}</div>
        </div>
    </div>

    <div class="more_info">
        {% if not rain_compatible and rain_risk!=None%}
            {% if not rain_risk%}
                <div class="rain-ok">Pas de pluie annoncée
                    <img class="sun" src="static/images/sun.png" alt="Soleil">
                </div>
            {%else%}
                <div class="rain-alert">Attention, il risque de pleuvoir
                    <img class="rain" src="static/images/rain.png" alt="rain">
                </div>
            {% endif %}
        {% endif %}
        <table>
            <tr>
                <td>Coût du trajet:</td>
                <td>{{budget}}</td>
            </tr>
            <tr>
                <td>CO<sub>2</sub> émis:</td>
                <td>{{carbon_emission}}</td>
            </tr>
            <tr>
                <td>Calories dépensées:</td>
                <td>{{calories}}</td>
            </tr>
            <tr>
                <td>La note maps_2.0:</td>
                <td>{{grade}}/5</td>
            </tr>
        </table>
    </div>
</div>

