<div class="itinerary">
    <div class="icon"></div>
    <div class="main">{{name}}</div>
    <div class="numbers">
        <div class="duration">{{duration}}</div>
        <div class="distance">{{distance}}</div>
    </div>
    <div class="more_info">
        <div>Compatible pluie : {{rain_compatible}}</div>
        <div>Compatible handicapé : {{disability_compatible}}</div>
        <div>Prix : {{budget}}</div>
        <div>CO2: {{carbon_emission}}</div>
        <div>Calories : {{calories}}</div>
    </div>
</div>